/* Basic styling */
html, body {
    width: 100%;
    height: 100%;
    font-family: Raleway;
    font-weight: lighter;
    font-size: 0.95em;
    color: #000000;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

h1 {
    padding-top: 2%;
    font-family: Nunito;
    font-size: 5em;
    color: #ffffff;
}

h2 {
    height: 25px;
    margin: 0 0 10px 1.5%;
    font-family: Bree Serif;
    font-size: 1.8em;
}


/* Header styling */
header {
    background-image: url("../assets/header.jpg");
    background-size: 100% auto;
    background-position-y: 50%;
    width: 100%;
    height: 25%;
    min-height: 100px;
    text-align: center;
}


/* Navigation styling */
nav {
    background-color: #333333;
    width: 100%;
    height: 36px;
    font-family: Montserrat;
}

nav > ul {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav > ul > a {
    height: 100%;
    float: left;
    list-style-type: none;
    flex-basis: 160px;
    text-align: center;
    text-decoration: none;
/*    text-transform: uppercase; */
}

nav > ul > a > li {
    height: 100%;
    line-height: 20px;
    padding: 7px 0 9px 0;
    color: #ffffff;
}

nav > ul > a > li:hover {
    border-bottom: 3px solid #0080FF;
    color: #0080FF;
}


/* Main content styling */
main {
    width: 100%;
    margin: 0 auto;
}

/* Main > Topic styling */
.topic {
    height: auto;
    min-height: 445px;
    clear: both;
    padding: 30px 20% 70px 20%;
    position: relative;
}

.topic:nth-child(odd) {
    background-color: #cdcdcd;
}

.topic:nth-child(even) {
    background-color: #dedede;
}

.topictitle {
    float: left;
    margin-right: 10px;
    color: #222222;
}

.buttonedittopic {
    background-image: url("../assets/edittopic.png");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position-y: 60%;
    width: 30px;
    height: 28px;
    float: left;
}

/* Main > article styling */
article {
    background-color: #0f144b;
    width: 250px;
    height: 300px;
    margin: 10px 1.5% 10px 1.5%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

.goalpicture {
    background-size: auto 211px;
    background-position: center;
    min-height: 75px;
    flex-grow: 4;
}

.goaltriangle {
    width: 10px;
    height: 0px;
    border-bottom: 50px solid #ffffff;
    border-left: 250px solid transparent;
    margin-top: -50px;
}

.buttoneditgoal:before, .buttonreached:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #FE2E9A;
}

.buttoneditgoal, .buttonreached {
    background-color: #FE2E9A;
    width: 30px;
    height: 15px;
    position: relative;
}

/* Code for position if the button to mark a goal as reached is displayed too
.buttoneditgoal {
    margin: 13px 0 0 -58px;
}
.buttonreached {
    margin: -5px 0 0 -40px;
} */
.buttoneditgoal {
    background-image: url("../assets/editgoal.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 50%;
    margin: -5px 0 0 -40px;
}

.buttoneditgoal:after, .buttonreached:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #FE2E9A;
}

.goalproperties {
    background-color: #fefefe;
    width: auto;
    height: auto;
    padding: 20px 10px 20px 10px;
}

.goaldata {
    color: #666666;
    font-size: 0.9em;
}

.goaldata >  p {
    display: inline;
}

.goaldata > p:last-child {
    float: right;
}

/* Main > article > reached goal styling */
.true > .goaltriangle {
    border-bottom: 30px solid #333333;
    border-left: 0px solid transparent;
    border-right: 250px solid transparent;
    margin-top: -30px;
}

.true > .goaltriangle > a > .buttoneditgoal {
    margin: -7.5px 0 0 10px;
}

.true > .goalproperties {
    background-color: #333333;
    color: #ffffff;
}

.true > .goalproperties > .goaldata {
    color: #999999;
}

/* Main > article > add new element styling */
article:last-of-type {
    opacity: 0.5;
    text-align: center;
}

article > a {
    width: 100%;
    height: 100%;
    padding: 90px 50px 70px 50px;
    text-decoration: none;
    color: #ffffff;
}

article > a:hover {
    text-decoration: none;
    color: #ffffff;
}

.buttonaddgoal {
    background-image: url("../assets/addgoal.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 50%;
    width: 100%;
    height: 60px;
}

/* Button top styling */
.buttontop {
    text-decoration: underline;
    position: absolute;
    right: 20%;
    bottom: 30px;
    color: #0080FF;
}