html, body {
    width: 100%;
    height: 100%;
    font-family: Petrona;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 5em;
    color: #ffffff;
}

h2 {
    margin: 0 0 0 1.5%;
    clear: both;
    font-size: 1.5em;
}

h3 {
    font-family: Indie Flower;
}

header {
    background-color: #aaaaaa;
    width: 100%;
    height: 25%;
    min-height: 100px;
    text-align: center;
}

nav {
    background-color: #aaffaa;
    width: 100%;
    height: 6%;
    min-height: 20px;
}

nav > ul {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav > ul > a {
    float: left;
    padding: 0 10px;
    list-style-type: none;
}

main {
    width: 70%;
    margin: 4% auto;
}

article {
    background-color: #fefefe;
    width: 30.3%;
    min-width: 200px;
    min-height: 100px;
    margin: 1.5% 1.5% 3.5% 1.5%;
    float: left;
    font-family: Indie Flower;
}

.goalpicture {
    background-image: url("../assets/goals/abandoned_stations.jpg");

   /* background-color: #ffaaaa; */
    background-size: 100%;
    width: auto;
    min-height: 200px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.goalpicture > h3 {
    min-height: 200px;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    padding: 10px;
}

.goalproperties {
    background-color: #fefefe;
    width: auto;
    min-height: 40px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    margin: 0 10px 10px 10px;
    padding: 10px;
}

