html, body {
    width: 100%;
    height: 100%;
    font-family: Raleway;
    font-weight: lighter;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Nunito;
    font-size: 5em;
    color: #ffffff;
}

h2 {
    height: 25px;
    margin: 0 0 10px 1.5%;
    clear: both;
    font-family: Bree Serif;
    font-size: 1.8em;
}

header {
    background-color: #aaaaaa;
    width: 100%;
    height: 20%;
    min-height: 100px;
    text-align: center;
}

nav {
    background-color: #333333;
    width: 100%;
    height: 6%;
    min-height: 20px;
    font-family: Montserrat;
}

nav > ul {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav > ul > a {
    float: left;
    padding: 0 10px;
    list-style-type: none;
    flex-basis: 160px;
    text-align: center;
}

main {
    width: 100%;
    margin: 0 auto;
}

.topic {
    min-height: 445px;
    clear: both;
    padding: 30px 20% 70px 20%;
}

.topic:nth-child(odd) {
    background-color: #eeeeee;
}

.topic:nth-child(even) {
    background-color: #dedede;
}

article {
    width: 250px;
    height: 300px;
 /*   width: 30.3%;
    min-width: 200px;
    min-height: 10px; */
    margin: 10px 1.5% 10px 1.5%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

.goalpicture {
    background-image: url("../assets/goals/abandoned_stations.jpg");
    background-size: 100%;
    width: auto;
    min-height: 50px;
    height: auto;
    object-fit: cover;
    flex-grow: 4;
}

.goaltriangle {
    width: 0px;
    height: 0px;
    bottom: 0px;
    border-bottom: 50px solid #ffffff;
    border-left: 250px solid transparent;
    margin-top: -50px;
}

.goalproperties {
    background-color: #fefefe;
    width: auto;
    height: auto;
    padding: 20px 10px 20px 10px;
}

.true > .goaltriangle {
    border-bottom: 30px solid #333333;
    border-left: 0px solid transparent;
    border-right: 250px solid transparent;
    margin-top: -30px;
}

.true > .goalproperties {
    background-color: #333333;
    color: #ffffff;
}

