<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Bucket List</title>
    <link href="assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>Bucket List</h1>
    </header>
    <main>
        <h2>Project description</h2>
        <p>This project is a bucket list, where a user can individually manage his goals.</p>
        <p>The features are as follows:</p>
        <ul>
            <li>Goals consisting of:
                <ul>
                    <li>Description (text)</li>
                    <li>Image (only .jpg, with "upload")</li>
                    <li>Deadline (date)</li>
                    <li>Priority (out of 1, 2 or 3)</li>
                    <li>State (reached / not yet reached)</li>
                    <li>Topic (out of the existing topics)</li>
                </ul>
            </li>
            <li>Methods for goals:
                <ul>
                    <li>Add goals</li>
                    <li>Edit goals</li>
                    <li>Delete goals</li>
                </ul>
            </li>
            <li>Topics consisting of:
                <ul>
                    <li>Title (text)</li>
                </ul>
            </li>
            <li>Methods for topics:
                <ul>
                    <li>Add goal topics</li>
                    <li>Edit goal topics</li>
                    <li>Delete goal topics</li>
                </ul>
            </li>
        </ul>
    </main>
</body>
</html>